.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 20px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 500ms ease-in-out;
}

.nav__black {
  background-color: #111;
}

.nav__logo {
  width: 80px;
  object-fit: contain;
  /* position: fixed;
  left: 20px; */
}

.nav__avatar {
  width: 30px;
  object-fit: contain;
  /* position: fixed;
  right: 20px; */
}
